@import url("fonts/fonts.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  width: 1440px;
  height: 700px;
  margin: 0 auto;
  background-image: url("img/header.png");
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu h1 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: 46px;
  color: #fff;
  text-transform: uppercase;
}
.header__logo {
  margin-right: 34px;
  margin-top: 38px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.header__logo a {
  transition: all 0.1s;
}
.header__logo a:first-child {
  margin-right: 19px;
}
.header__logo a:not(:first-child) {
  display: inline-block;
  padding: 10px 18px 9px 18px;
  border: 2px solid #ffffff;
  border-radius: 40px;
}
.header__logo a:hover {
  text-shadow: 2px 4px 5px #000;
}
.header__title {
  width: 470px;
  height: 253px;
  margin: 0 auto;
  margin-top: 146px;
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header__title_m {
  margin-top: 29px;
  width: 470px;
  text-align: center;
}
.header__title h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
}
.header__title p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #f7f3f2;
}
.header__button {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background: #ff4e50;
  padding: 12px 19px;
  border-radius: 40px;
  margin-top: 33px;
  transition: all 0.5s;
}
.header__button:hover {
  background-color: rgb(255, 255, 255);
  color: #ff4e50;
  box-shadow: inset -1px 3px 8px 5px #ffffff, 2px 5px 16px 0px #ff4e50, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.main {
  width: 940px;
  height: 2403px;
  margin: 0 auto;
}

.steps {
  width: 940px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 89px;
}
.steps__title {
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  font-family: "Montserrat-Bold", sans-serif;
}
.steps__stepOne {
  width: 300px;
  height: 400px;
  margin-top: 35px;
  background-image: url("img/1.png");
  position: relative;
}
.steps__boxOne {
  width: 250px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  margin-bottom: 21px;
  color: #fff;
}
.steps__boxOne h2 {
  font-family: "Montserrat-Bold", sans-serif;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
}
.steps__boxOne p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #babab9;
}
.steps__stepTwo {
  width: 300px;
  height: 400px;
  margin-top: 35px;
  background-image: url("img/2.png");
  position: relative;
}
.steps__boxTwo {
  width: 250px;
  height: 129px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  margin-bottom: 21px;
  color: #fff;
}
.steps__boxTwo h2 {
  font-family: "Montserrat-Bold", sans-serif;
  width: 100%;
  font-size: 24px;
  line-height: 14px;
  margin-top: 5px;
}
.steps__boxTwo p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #babab9;
}
.steps__stepThree {
  width: 300px;
  height: 400px;
  margin-top: 35px;
  background-image: url("img/3.png");
  position: relative;
}
.steps__boxThree {
  width: 250px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  margin-bottom: 21px;
  color: #fff;
}
.steps__boxThree h2 {
  font-family: "Montserrat-Bold", sans-serif;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
}
.steps__boxThree p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #babab9;
}
.steps__button {
  background: #ff4e50;
  border-radius: 40px;
  padding: 5px 14px 3px 12px;
  text-transform: uppercase;
  font-family: "Montserrat-Regular", sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.steps__button:hover {
  background-color: rgb(255, 255, 255);
  color: #ff4e50;
  box-shadow: inset -1px 3px 8px 5px #ffffff, 2px 5px 16px 0px #ff4e50, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.partners {
  width: 940px;
  margin-top: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__title {
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  font-family: "Montserrat-Bold", sans-serif;
  height: 35px;
}
.partners__cardOne {
  width: 221px;
  height: 205px;
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.partners__cardOne h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 18px;
}
.partners__cardOne p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #797979;
  text-align: center;
  margin-top: 22px;
}
.partners__cardTwo {
  width: 221px;
  height: 226px;
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.partners__cardTwo h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 18px;
}
.partners__cardTwo p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #797979;
  text-align: center;
  margin-top: 29px;
}
.partners__photo {
  width: 120px;
  height: 120px;
}
.partners__photo_one {
  background-image: url("img/Avatar1.png");
}
.partners__photo_two {
  background-image: url("img/Avatar2.png");
}
.partners__photo_three {
  background-image: url("img/Avatar3.png");
}
.partners__photo_four {
  background-image: url("img/Avatar4.png");
}
.partners__button {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ff4e50;
  padding: 11px 19px 10px 19px;
  border: 2px solid #ff4e50;
  border-radius: 40px;
  margin: 33px auto 0;
  transition: all 0.5s;
}
.partners__button:hover {
  background-color: rgb(255, 255, 255);
  color: #ff4e50;
  box-shadow: inset -1px 3px 8px 5px #ffffff, 2px 5px 16px 0px #ff4e50, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.ideas {
  width: 940px;
  height: 1037px;
  margin-top: 89px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ideas__title {
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  font-family: "Montserrat-Bold", sans-serif;
}
.ideas__flex {
  width: 940px;
  height: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  align-content: space-between;
}
.ideas__flex h3 {
  font-size: 22px;
  line-height: 27px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}
.ideas__bgOne {
  background-image: url("img/Sport.png");
}
.ideas__bgTwo {
  background-image: url("img/Healath.png");
}
.ideas__bgThree {
  background-image: url("img/Extreme.png");
}
.ideas__bgFour {
  background-image: url("img/Games.png");
}
.ideas__bgFive {
  background-image: url("img/Object.png");
}
.ideas__bgSix {
  background-image: url("img/Object-1.png");
}
.ideas__bgSeven {
  background-image: url("img/Object-2.png");
}
.ideas__boxSmall {
  width: 300px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  text-align: center;
}
.ideas__boxBig {
  width: 620px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  text-align: center;
}

.search {
  width: 482px;
  height: 164px;
  margin: 89px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.search__title {
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #444444;
  font-family: "Montserrat-Bold", sans-serif;
}
.search__info {
  font-family: "Roboto-Light", sans-serif;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  margin-top: 29px;
}
.search__text {
  padding: 14px 131px 10px 15px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  color: #999999;
  font-family: "Roboto-Light", sans-serif;
}
.search__text p {
  font-family: "Roboto-Light", sans-serif;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 16px;
}
.search__button {
  float: right;
  padding: 12px 25px 11px 30px;
  background: #ff4e50;
  border-radius: 40px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat-Bold", sans-serif;
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
  transition: all 0.5s;
}
.search__button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  box-shadow: inset -1px 3px 8px 5px #ffffff, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.footer {
  width: 1440px;
  height: 258px;
  margin: 0 auto;
  border-top: 1px solid #ff4e50;
}
.footer__line {
  border: #ff4e50;
  color: #ff4e50;
  background-color: #ff4e50;
}
.footer__box {
  width: 940px;
  height: 186px;
  display: flex;
  margin: 38px auto 0;
}
.footer__groupOne {
  width: 544px;
  height: 186px;
  display: flex;
  justify-content: space-between;
}
.footer__name {
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat-Regular", sans-serif;
  color: #ff4e50;
}
.footer__company {
  display: flex;
  flex-direction: column;
  width: 114px;
  height: 14px;
}
.footer__company h2 {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #444444;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}
.footer__list a {
  font-size: 14px;
  line-height: 26px;
  font-family: "Roboto-Light", sans-serif;
  color: #999999;
}
.footer__partners {
  display: flex;
}
.footer__partners h2 {
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  font-family: "Montserrat-Bold", sans-serif;
}
.footer__groupTwo {
  width: 396px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}
.footer__groupTwo h2 {
  font-size: 10px;
  line-height: 12px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #cccccc;
  letter-spacing: 1px;
}
.footer__logo {
  background-image: url("img/Bitmap.png");
  width: 110px;
  height: 24px;
  margin-top: 7px;
}

/* -----------------------------------------Dreamshare_desktop------------------------------------------------------*/
@media (max-width: 1439px) {
  .container {
    width: 940px;
  }
  .header__menu h1 {
    margin-left: 48px;
  }
  .footer {
    width: 940px;
  }
  .footer__box {
    width: 686px;
    height: 186px;
    display: flex;
    margin: 36px auto 0;
  }
  .footer__groupTwo {
    width: 279px;
  }
}
/* -----------------------------------------Tablet Portrait------------------------------------------------------*/
@media (max-width: 939px) {
  .container {
    width: 768px;
  }
  .header {
    background-image: url("img/Background2.png");
  }
  .main {
    width: 768px;
    height: 2644px;
  }
  .steps {
    width: 748px;
    height: 462px;
    margin: 86px auto 0;
  }
  .steps__title {
    font-size: 22px;
    line-height: 27px;
  }
  .steps__stepOne {
    width: 236px;
  }
  .steps__boxOne {
    width: 196px;
    height: 174px;
  }
  .steps__stepTwo {
    width: 236px;
  }
  .steps__boxTwo {
    width: 196px;
    height: 124px;
  }
  .steps__stepThree {
    width: 236px;
  }
  .steps__boxThree {
    width: 196px;
    height: 174px;
  }
  .partners {
    width: 492px;
    height: 605px;
    margin: 95px auto 0;
  }
  .partners__title {
    font-size: 22px;
    line-height: 27px;
  }
  .ideas {
    width: 748px;
    height: 1031px;
    margin: 89px auto 0;
  }
  .ideas__title {
    font-size: 22px;
    line-height: 27px;
  }
  .ideas__flex {
    width: 748px;
  }
  .ideas__boxSmall {
    width: 236px;
  }
  .ideas__boxBig {
    width: 492px;
  }
  .search__title {
    font-size: 22px;
    line-height: 27px;
  }
  .footer {
    width: 768px;
  }
}
/* -----------------------------------------Mobile Portrait------------------------------------------------------*/
@media (max-width: 767px) {
  .container {
    width: 320px;
    height: 540px;
  }
  .header {
    background-image: url("img/Background.png");
    background-size: 100%;
  }
  .header__menu {
    width: 164px;
    height: 157px;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0 auto;
  }
  .header__logo {
    margin-right: 0;
    margin-top: 20px;
  }
  .header__title {
    width: 280px;
    height: 183px;
    margin: 27px auto 0;
  }
  .header__title h2 {
    font-size: 30px;
    line-height: 37px;
  }
  .header__title_m {
    margin-top: 6px;
    width: 280px;
    height: 49px;
  }
  .header__title_m p {
    color: #f7f3f2;
    font-size: 18px;
    line-height: 24px;
  }
  .header__button {
    margin-top: 15px;
    padding: 12px 46px 11px 46px;
  }
  .main {
    width: 320px;
    height: 3230px;
  }
  .steps {
    width: 300px;
    height: 781px;
    margin-top: 35px;
  }
  .steps__stepOne {
    width: 300px;
    height: 240px;
    background-size: 100%;
    margin-top: 15px;
    background-image: url("img/Step 1 image.png");
  }
  .steps__boxOne {
    width: 250px;
    height: 155px;
  }
  .steps__stepTwo {
    width: 300px;
    height: 240px;
    background-size: 100%;
    margin-top: 10px;
    background-image: url("img/Step 2 image.png");
  }
  .steps__boxTwo {
    width: 250px;
    height: 124px;
  }
  .steps__stepThree {
    width: 300px;
    height: 240px;
    background-size: 100%;
    margin-top: 10px;
    background-image: url("img/Step 3 image.png");
  }
  .steps__boxOne {
    width: 250px;
    height: 155px;
  }
  .partners {
    width: 280px;
    height: 1106px;
    margin-top: 36px;
    justify-content: space-around;
  }
  .partners__button {
    padding: 12px 66px 11px 66px;
  }
  .ideas {
    margin-top: 36px;
    width: 300px;
    height: 987px;
  }
  .ideas__flex {
    width: 300px;
    height: 900px;
  }
  .ideas__boxSmall {
    width: 300px;
    height: 120px;
  }
  .ideas__boxBig {
    width: 300px;
    height: 120px;
  }
  .ideas__bgOne {
    background-image: url("img/ideas1.png");
  }
  .ideas__bgTwo {
    background-image: url("img/ideas2.png");
  }
  .ideas__bgThree {
    background-image: url("img/ideas3.png");
  }
  .ideas__bgFour {
    background-image: url("img/ideas4.png");
  }
  .ideas__bgFive {
    background-image: url("img/ideas5.png");
  }
  .ideas__bgSix {
    background-image: url("img/ideas6.png");
  }
  .ideas__bgSeven {
    background-image: url("img/ideas7.png");
  }
  .search {
    width: 280px;
    height: 192px;
    margin-top: 35px;
  }
  .search__box {
    margin-top: 15px;
  }
  .search__button {
    margin-top: 10px;
    padding: 12px 76px 11px 87px;
    float: none;
  }
  .footer {
    width: 320px;
    height: 226px;
  }
  .footer__box {
    width: 280px;
    height: 183px;
    flex-direction: column;
    margin-top: 19px;
  }
  .footer__groupOne {
    width: 280px;
    height: 126px;
    flex-direction: column;
    align-items: center;
  }
  .footer__company {
    margin-top: 13px;
    width: 280px;
    height: 70px;
    align-items: center;
  }
  .footer__list {
    width: 280px;
    height: 52px;
    flex-direction: row;
    margin-top: 11px px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list a {
    margin-right: 15px;
  }
  .footer__partners {
    margin-top: 9px;
  }
  .footer__groupTwo {
    width: 110px;
    height: 43px;
    align-items: center;
    margin: 14px auto 0;
  }
}/*# sourceMappingURL=main.css.map */